bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
SeyforDatabaseProject.Model/Database Connection/DatabaseContextDesignTimeFactory.cs
SeyforDatabaseProject.Model/Database Connection/DatabaseContextDesignTimeFactory.cs
